* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.container1 {
  width: 152px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid blue;
}
.container1 div {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: green;
  position: relative;
}
.container1 div::before {
  content: "";
  border: 2px solid blue;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 48px;
  height: 48px;
}
.container1 div:hover::before {
  border-color: red;
  pointer-events: none;
  z-index: 1;
}
ul li {
  list-style: none;
}
.container2 {
  width: 152px;
  height: 152px;
}
.container2 li {
  width: 50px;
  height: 50px;
  float: left;
  border: 2px solid blue;
  text-align: center;
  line-height: 50px;
  margin: 0 -2px -2px 0;
  color: green;
  cursor: pointer;
  position: relative;
}
.container2 li:hover {
  border: 2px solid red;
  z-index: 1;
}
table {
  border-collapse: collapse;
}
table td {
  width: 50px;
  height: 50px;
  border: 2px ridge blue;
  text-align: center;
  color: green;
  cursor: pointer;
}
table td:hover {
  border: 2px solid red;
}
