* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.sprite {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sprite .sprite1 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: -48px 0px;
  width: 58px;
  height: 60px;
}
.sprite .sprite2 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: -106px -14px;
  width: 42px;
  height: 52px;
}
.sprite .sprite3 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: -148px -14px;
  width: 42px;
  height: 52px;
}
.sprite .sprite4 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: 142px -14px;
  width: 42px;
  height: 66px;
}
.sprite .sprite5 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: 102px 6px;
  width: 12px;
  height: 70px;
}
.sprite .sprite6 {
  background-image: url("../images/nav_logo240_hr.webp");
  background-position: 90px -14px;
  width: 38px;
  height: 50px;
}
