* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}

.regex101 {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.top-bar {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f2f6;
}

.rex-input {
  height: 30px;
}
.rex-input input {
  width: 250px;
}
.flags {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.rex-box {
  width: 500px;
  position: relative;
  overflow: hidden;
}
.error {
  padding-left: 20px;
  color: #ff4757;
}
.rex-box pre, .str-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: scroll;
}
.rex-box pre {
  position: absolute;
  top: 0;
  margin: 1px;
  color: transparent;
}
.rex-box pre span {
  background-color: #85abf1;
}
.rex-box pre span:nth-of-type(even) {
  background-color: #1e90ff;
}

.str-content {
  width: 500px;
  padding: 5px;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.replace-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.re-box {
  margin-top: 10px;
}

.replace-box .re-input {
  width: 250px;
}

.re-content {
  width: 100%;
  height: 100%;
  min-height: 200px;
  border: 1px solid #f1f2f6;
  padding: 5px;
  margin: 10px;
}

.macth-nav {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f2f6;
}
.macth-nav h3 {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid #f1f2f6;
}

.macth-new {
  width: 160px;
  display: flex;
}
.macth-new div {
  width: 80px;
}