* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@orangeColor: rgb(255, 103, 0);
@whiteColor: rgb(255, 255, 255);
@blackColor: rgb(0, 0, 0);
@borderColor: rgb(224, 224, 224);
@minWidth: 1226px;
@imgWidth: 160px;
@imgHeight: 110px;
@swiperHeight: 460px;
@categoryWidth: 234px;
@containerBoxHeight: 340px;
@min1253: ~"(max-width: 1253px)"; 


body {
  min-width: @minWidth;
  color: rgb(176, 176, 176);
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: @whiteColor;
}

.header {
  width: 100%;
  height: 140px;

  .topbar {
    width: 100%;
    height: 40px;
    background-color: rgb(51, 51, 51);

    .site-topbar {
      width: 1226px;
      ;
      height: 40px;
      margin: 0 auto;
      font-size: 12px;
      line-height: 3.5em;
      position: relative;

      .left-bar {
        position: absolute;
      }

      .right-bar {
        position: absolute;
        right: 150px;
      }

      .cart {
        width: 120px;
        height: 40px;
        position: absolute;
        background-color: rgb(66, 66, 66);
        right: 0;
        text-align: center;

        a {
          width: 100%;
          background: url("../images/d7db56d1d850113f016c95e289e36efa.png") no-repeat 10px 10px;
          background-size: 20px 20px;
        }

        div {
          position: absolute;
          width: 320px;
          height: 0px;
          left: -200px;
          top: 40px;
          text-align: center;
          background-color: @whiteColor;
          color: @blackColor;
          box-shadow: 0px 0px 4px rgba(66, 66, 66, .5);
          font-size: 0;
          line-height: 100px;
          z-index: 1;
        }

        &:hover div {
          background-color: @whiteColor;
          height: 100px;
          font-size: 12px;
          transition: height .3s, font-size .3s .3s;
        }

        &:hover a {
          color: @orangeColor;
          background: url("../images/692a6c3b0a93a24f74a29c0f9d68ec71.png") no-repeat 10px 10px;
          background-size: 20px 20px;
        }
      }

      span {
        color: rgb(66, 66, 66);
        margin: 0 .3em;
      }
    }

    .site-header {
      width: 100%;
      height: 100px;
      display: grid;
      grid-template-columns: 1fr 56px 160px 634px 80px 300px 1fr;
      grid-template-areas: "left1 left2 left3 mian right3 right2 right1";

      .mi-logo-box {
        grid-area: left2;
      }

      .mi-logo {
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          margin-left: -56px;
          transition: .3s ease;
        }

        a {
          display: inline-block;
          width: 56px;
          height: 56px;
          background: url("../images/mi-logo-bg.svg") no-repeat;
          background-size: contain;
        }

        a:hover img {
          margin-left: 0px;
        }
      }

      .header-nav {
        grid-area: mian;
        font-size: 16px;
        color: @blackColor;

        ul {
          display: flex;
          flex-direction: row;

          li {
            padding: 40px 22px 40px 0;

            &:hover a {
              color: @orangeColor;
            }

            .header-nav-menu {
              width: 100%;
              min-width: @minWidth;
              height: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0px 2px 2px rgba(66, 66, 66, .2);
              overflow: hidden;
              position: absolute;
              left: 0px;
              top: 140px;
              background-color: @whiteColor;
              z-index: 10;
              cursor: pointer;

              ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: center;
                  font-size: 12px;
                  color: @blackColor;
                  position: relative;
                  margin-left: 24px;

                  &:not(:last-child)::after {
                    content: "";
                    display: block;
                    height: 100px;
                    border-right: 1px solid @borderColor;
                    position: absolute;
                    right: 0px;
                    top: 50px;
                  }

                  div:first-child {
                    width: @imgWidth;
                    height: @imgHeight;
                    background: url("../images/85e44ea2405ff8414148bbde7446b137.webp") no-repeat;
                    background-size: cover;
                    margin-bottom: 1em;
                  }

                  div:last-child {
                    color: @orangeColor;
                  }

                }
              }
            }

            &:hover .header-nav-menu {
              height: 230px;
              border: 1px solid @borderColor;
              transition: height .4s ease, border .4s ease;
            }

            &:nth-child(2):hover .header-nav-menu div:first-child {
              background: url("../images/e3c5d99c28700a3c45ea65eebbea0a04.webp") no-repeat;
              background-size: cover;
            }

            &:nth-child(3):hover .header-nav-menu div:first-child {
              background: url("../images/932b583c6eccd8aabfa0771f8a854940.webp") no-repeat;
              background-size: cover;
            }

            &:nth-child(4):hover .header-nav-menu div:first-child {
              background: url("../images/705cde5b7afce7ee89d95d1a35938778.webp") no-repeat;
              background-size: cover;
            }

            &:nth-child(5):hover .header-nav-menu div:first-child {
              background: url("../images/65df9e92c06dcd148de5f0eb13e16ea2.webp") no-repeat;
              background-size: cover;
            }

            &:nth-child(6):hover .header-nav-menu div:first-child {
              background: url("../images/2815a0a208be362cba673aae9a1f9c93.webp") no-repeat;
              background-size: cover;
            }

            &:nth-child(7):hover .header-nav-menu div:first-child {
              background: url("../images/f6e585a4bf5c0f744ca60f19ecd6fadf.jpg") no-repeat;
              background-size: cover;
            }
          }
        }
      }

      .search {
        grid-area: right2;
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        input {
          width: 296px;
          height: 52px;
          border: 1px solid @borderColor;
          font-size: 14px;
          padding: 5px;
          outline: none;

          &:focus {
            border: 1px solid @orangeColor;
          }
        }

        span {
          display: inline-block;
          width: 52px;
          height: 50px;
          border-left: 1px solid @borderColor;
          background-color: @whiteColor;
          font-size: 24px;
          line-height: 48px;
          text-align: center;
          color: rgb(97, 97, 97);
          position: absolute;
          right: 3px;
          cursor: pointer;

          &:hover {
            background-color: @orangeColor;
            color: @whiteColor;
          }
        }
      }
    }
  }
}

.swiper-wrapper {
  width: @minWidth;
  height: @swiperHeight;
  margin: 0 auto;
  position: relative;

  img {
    width: @minWidth;
    height: @swiperHeight;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s linear;
  }

  [class="active"] {
    opacity: 1;
  }

  .site-category {
    width: @categoryWidth;
    height: @swiperHeight;
    color: @whiteColor;
    font-size: 14px;
    display: flex;
    align-items: center;

    .u-category {
      display: flex;
      height: 420px;
      justify-content: space-evenly;
      flex: 1;
      flex-direction: column;
      position: relative;
      box-sizing: content-box;
      padding: 20px 0;
      background: rgba(105, 101, 101, .6);

      .l-category {
        height: 42px;
        padding-left: 30px;
        line-height: 42px;
        cursor: pointer;

        &:hover {
          background-color: @orangeColor;
        }

        .category-menu {
          height: 0px;
          position: absolute;
          top: 0;
          left: @categoryWidth;
          z-index: 5;
          display: flex;
          background-color: @whiteColor;
          overflow: hidden;

          ul {
            height: @swiperHeight;
            padding: 0;

            li {
              width: 265px;
              height: 76px;
              padding: 18px 20px;
              color: #000;
              position: relative;

              a {
                width: 40px;
                height: 40px;
                background: url("../images/ab345272bf9894bb8269d4901344b068.webp") no-repeat;
                background-size: cover;
              }

              span {
                left: 72px;
                position: absolute;

                &:hover {
                  color: @orangeColor;
                }
              }
            }
          }

          ul:nth-of-type(2) {
            li {
              a {
                background: url("../images/4a7a4f24061860901f724b6ba6d75fd9.webp") no-repeat;
                background-size: cover;
              }
            }
          }

          ul:nth-of-type(3) {
            li {
              a {
                background: url("../images/a1241b5a94ba1739e85f72d46592af0e.webp") no-repeat;
                background-size: cover;
              }
            }
          }

          ul:nth-of-type(4) {
            li {
              a {
                background: url("../images/76378ce289a36fcfa29f704ba90b4155.webp") no-repeat;
                background-size: cover;
              }
            }
          }
        }

        &:hover {
          .category-menu {
            height: @swiperHeight;
            border: 1px solid @borderColor;
            box-shadow: 0 0 5px @borderColor;
          }
        }
      }

      span {
        position: absolute;
        right: 20px;
      }
    }
  }

  .i-radio {
    position: absolute;
    right: 30px;
    bottom: 20px;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-color: hsla(0, 0%, 100%, .3);
      border-radius: 10px;
      overflow: hidden;
      background: rgba(0, 0, 0, .4);
      opacity: 1;
      margin-right: 4px;
      cursor: pointer;

      &:hover {
        border-color: rgba(0, 0, 0, .4);
        background: hsla(0, 0%, 100%, .4);
      }
    }

    span.active {
      border-color: rgba(0, 0, 0, .4);
      background: hsla(0, 0%, 100%, .4);
    }
  }

  .swiper-button-prev {
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png") no-repeat -84px 50%;
    ;
    position: absolute;
    left: @categoryWidth;
    top: 196px;

    &:hover {
      background-position: 0 50%;
    }
  }

  .swiper-button-next {
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png") no-repeat -125px 50%;
    position: absolute;
    right: 0;
    top: 196px;

    &:hover {
      background-position: -42px 50%;
    }
  }
}

.sub {
  width: @minWidth;
  height: 170px;
  margin: 14px auto 26px;
  display: flex;

  .img-list {
    width: 234px;
    height: 170px;

    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      text-align: center;
      background: #5f5750;
      padding: 3px;

      li {
        width: 76px;
        height: 82px;
        padding: 0 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: @whiteColor;

        a {
          opacity: .7;
          transition: opacity .2s;

          img {
            display: block;
            width: 24px;
            height: 24px;
            margin: 0 auto 4px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

  }

  .img-list1 {
    width: 316px;
    height: 170px;
    margin-left: 14px;
    background: url("../images/5d4298059889417157e8492750328492.jpg") no-repeat;
    background-size: cover;
  }

  .img-list2 {
    .img-list1();
    background: url("../images/b30177d629bfbe2fb42251c1b8538f7b.jpg") no-repeat;
    background-size: cover;
  }

  .img-list3 {
    .img-list1();
    background: url("../images/9f18ac756fa2cedb16ea429b9c0001af.png") no-repeat;
    background-size: cover;
  }
}

.page-main {
  width: 100%;
  min-width: @minWidth;
  background-color: rgb(245, 245, 245);
  padding-bottom: 10px;
  position: relative;

  .container {
    width: @minWidth;
    margin: 0 auto;

    .xm-plain-box {
      width: @minWidth;

      .box-hd {
        height: 58px;
        display: flex;
        position: relative;

        .arrow-box {
          position: absolute;
          top: 24px;
          right: 0;

          span {
            width: 36px;
            height: 24px;
            display: inline-block;
            padding: 3px 5px;
            margin-left: -5px;
            border: 1px solid #e0e0e0;
            font-size: 16px;
            line-height: 16px;
            transition: color .5s;
            color: #b0b0b0;
            text-align: center;
            cursor: pointer;

            &:hover {
              color: @orangeColor;
            }
          }

          .spandisabled {
            pointer-events: none;
          }
        }

        .title {
          margin: 0;
          font-size: 22px;
          font-weight: 200;
          line-height: 58px;
          color: #333;
        }
      }

      .box-bd {
        width: @minWidth;
        height: @containerBoxHeight;
        display: flex;
        justify-content: space-between;

        .sale-countdown {
          width: @categoryWidth;
          height: @containerBoxHeight;
          border-top: 1px solid #e53935;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          background-color: rgb(241, 237, 237);

          .round {
            font-size: 21px;
            color: #ef3a3b;
            padding-top: 15px;
            text-align: center;

          }

          img {
            margin: 20px auto;
          }

          .desc {
            color: rgba(0, 0, 0, .54);
            font-size: 15px;
            text-align: center;
          }

          .countdown {
            height: 46px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            overflow: hidden;

            span {
              display: inline-block;
              width: 46px;
              height: 46px;
              background: #605751;
              color: #fff;
              font-size: 24px;
              line-height: 46px;
              text-align: center;
              position: relative;

              &::after {
                content: ":";
                position: absolute;
                left: 55px;
                color: #605751;
              }

              &:last-child::after {
                content: "";
              }
            }

          }
        }

        .flashsale-list {
          width: 978px;
          height: @containerBoxHeight;
          position: relative;
          overflow: hidden;

          .flashsale-swiper {
            width: 100%;
            margin: 0;
            padding: 0;
            height: 340px;
            display: flex;
            position: absolute;

            li {
              width: 234px;
              margin-left: 14px;
              list-style: none;
              flex: 0 0 234px;
              cursor: pointer;
              text-align: center;
              background-color: @whiteColor;

              &:first-child {
                margin: 0;
                border-top: 1px solid #ffac13;
              }

              div {
                width: 160px;
                height: 166px;
                margin: 40px auto 22px;

                img {
                  width: 160px;
                  height: 160px;
                }
              }

              &:nth-child(2) {
                border-top: 1px solid #83c44e;
              }

              &:nth-child(3) {
                border-top: 1px solid #2196f3;
              }

              &:nth-child(4) {
                border-top: 1px solid #e53935;
              }

              &:nth-child(5) {
                border-top: 1px solid #2196f3;
              }

              &:nth-child(6) {
                border-top: 1px solid #e53935;
              }

              &:nth-child(7) {
                border-top: 1px solid #00c0a5;
              }

              &:nth-child(8) {
                border-top: 1px solid #ffac13;
              }

              h3 {
                width: 234px;
                margin: 0 auto 3px;
                padding: 0 20px;
                font-size: 14px;
                font-weight: 400;
                text-overflow: ellipsis;
                color: #212121;
                overflow: hidden;
                white-space: nowrap;
              }

              p:nth-of-type(1) {
                width: 234px;
                height: 18px;
                margin: 0 auto 12px;
                padding: 0 20px;
                font-size: 12px;
                text-overflow: ellipsis;
                color: #b0b0b0;
                overflow: hidden;
                white-space: nowrap;

              }

              p:nth-of-type(2) {
                span {
                  color: @orangeColor;
                }
              }
            }
          }
        }
      }
    }

    .banner-box {
      width: @minWidth;
      height: 120px;
      margin: 22px 0;
      overflow: hidden;

      img {
        width: @minWidth;
        height: 120px;
      }

    }

    .xm-tel {
      width: @minWidth;
      height: 100%;

      .box-hd {
        height: 58px;
        display: flex;
        position: relative;

        .title {
          margin: 0;
          font-size: 22px;
          font-weight: 200;
          line-height: 58px;
          color: #333;
        }

        .more {
          position: absolute;
          top: 0;
          right: 0;

          a {
            font-size: 16px;
            line-height: 58px;
            color: #424242;
            transition: color .4s;

            i {
              width: 12px;
              height: 12px;
              padding: 4px;
              margin-left: 8px;
              border-radius: 16px;
              font-size: 12px;
              line-height: 12px;
              background-color: #b0b0b0;
              color: #fff;
              vertical-align: 1px;
              transition: background-color .4s;
            }

            &:hover {
              color: @orangeColor;
            }

            &:hover i {
              background-color: @orangeColor;
            }
          }
        }

      }

      .box-bd {
        width: @minWidth;
        height: 100%;
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: repeat(5, 234px);
        grid-template-areas: "a b c d e""a b1 c1 d1 e1";
        gap: 14px 14px;

        div {
          transition: all .2s linear;
          cursor: pointer;

          &:nth-child(1) {
            width: 100%;
            margin: 0;
            grid-area: a;
            background: url("../images/c583f2edc613f1be20fa415910b13ce3.webp") no-repeat;
            background-size: cover;
          }

          &:nth-child(3) {
            .bd-item();
            grid-area: c;
          }

          &:nth-child(4) {
            .bd-item();
            grid-area: d;
          }

          &:nth-child(5) {
            .bd-item();
            grid-area: e;
          }

          &:nth-child(6) {
            .bd-item();
            grid-area: b1;
          }

          &:nth-child(7) {
            .bd-item();
            grid-area: c1;
          }

          &:nth-child(8) {
            .bd-item();
            grid-area: d1;
          }

          &:nth-child(9) {
            .bd-item();
            grid-area: e1;
          }

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 15px 30px @borderColor;
          }
        }
      }
    }

    .xm-tv {
      .xm-tel();

      .box-bd {
        grid-template-areas: "a1 b c d e""a2 b1 c1 d1 e1";

        div {
          &:nth-child(1) {
            width: 100%;
            margin: 0;
            grid-area: a1;
            background: url("../images/116fc43816b87192be4e67cf762e8da5.webp") no-repeat;
            background-size: cover;
          }

          &:nth-child(10) {
            grid-area: a2;
            width: 234px;
            margin: 0;

            img {
              width: 234px;
              height: 300px;
            }
          }
        }
      }

      #a1 {
        margin-top: 20px;
        margin-right: 20px;
        line-height: 24px;
      }

      #a2 {
        line-height: 24px;
      }
    }
  }

}

.hot {
  color: @orangeColor  !important;
  border-bottom: 2px solid @orangeColor;
}

.bd-item {
  width: 100%;
  grid-area: b;
  background-color: @whiteColor;
  text-align: center;

  img {
    width: 160px;
    height: 160px;
    margin: 20px 0;

  }

  h3 {
    width: 234px;
    margin: 0 auto 3px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
  }

  p:nth-of-type(1) {
    width: 234px;
    height: 18px;
    margin: 0 auto 12px;
    padding: 0 20px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;

  }

  p:nth-of-type(2) {
    span {
      color: @orangeColor;
    }
  }
}

.site-footer {
  width: 100%;

  .footer-service {
    width: @minWidth;
    height: 80px;
    padding: 27px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid @borderColor;

    ul {
      width: @minWidth;
      display: flex;
      justify-content: space-between;


      li {
        height: 25px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        flex: 1;
        color: rgb(97, 97, 97);
        border-right: 1px solid @borderColor;

        i {
          margin-left: 6px;
          font-size: 24px;
          line-height: 24px;
          vertical-align: -4px;
        }

        &:hover a {
          color: @orangeColor;
        }
      }

      li:last-child {
        border: none;
      }
    }
  }

  .footer-links {
    width: @minWidth;
    margin: 0 auto;
    padding: 40px 0;

    .col-links {
      float: left;
      width: 160px;
      margin: 0;

      dt {
        margin: -1px 0 26px;
        font-size: 14px;
        line-height: 1.25;
        color: #424242;
      }

      dd {
        margin-bottom: 10px;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: @orangeColor;
        }
      }
    }

    .col-contact {
      float: right;
      width: 251px;
      border-left: 1px solid #e0e0e0;
      text-align: center;
      color: #616161;

      p {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .phone {
        font-size: 22px;
        color: @orangeColor;
      }

      .btn-small {
        width: 118px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
        color: @orangeColor;
        border: 1px solid @orangeColor;
        margin-bottom: 5px;
      }
      div {
        font-size: 12px;
        a:nth-child(1){
          width: 24px;
          height: 24px;
          background: url("../images/wb.png") no-repeat;
          background-size: cover;
          vertical-align: bottom;
          margin-left: 2px;
          &:hover {
            background: url("../images/wb@2x.png") no-repeat;
            background-size: cover;
          }
        }
        a:nth-child(2){
          width: 24px;
          height: 24px;
          background: url("../images/wx.png") no-repeat;
          background-size: cover;
          vertical-align: bottom;
          margin-left: 2px;
          &:hover {
            background: url("../images/wx@2x.png") no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

}


.home-tool-bar {
  width: 26px;
  height: 261px;
  position: fixed;
  left: 50%;
  right: auto;
  margin-left: 613px;
  bottom: 40px;
  background-color: rgba(255, 255, 255, .1);
  @media @min1253 {
    width: 26px;
    height: 261px;
    position: fixed;
    right: 0;
    left: auto;
    margin-left: 0;
    bottom: 40px;
    background-color: rgba(255, 255, 255, .1);
  }

  a {
    width: 27px;
    height: 42px;
    text-align: center;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    position: relative;
    img {
      margin-top: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    div {
      float:left;
      margin-left: -76px;
      margin-top: 10px;
      height: 28px;
      line-height: 28px;
      padding: 0 8px;
      background-color: #fff;
      border: 1px solid #f5f5f5;
      text-align: center;
      white-space: nowrap;
      display: none;
      span {
        color: #757575;
      }
    }
    .carts {
      left: 14px;
    }
    .phones {
      width: 100px;
      height: 100px;
      position: relative;
      left: -28px;
      top: -46px;
      display: none;
      img {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: -10px;
      }
    }
  }
  a:last-child {
    margin-top: 14px;
  }
}

.hover {
  display: none;
}



    

